{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %}" />
    <title>{% trans 'Accounts' %}</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="{% url 'account_login' %}" method="POST" class="sign-in-form">
            {% csrf_token %}
            <h2 class="title">{% trans 'Login' %}</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input name="login" type="email" placeholder="{% trans 'Email' %}" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input name="password" type="password" placeholder="{% trans 'Password' %}" />
            </div>
            <input type="submit" value="{% trans 'Login' %}" class="btn solid" />
            <p class="social-text">{% trans 'Login With Social Media' %}</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          <form action="{% url 'account_signup' %}" method="POST" class="sign-up-form">
            {% csrf_token %}
            <h2 class="title">{% trans 'Register' %}</h2>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input name='email' type="email" placeholder="{% trans 'Email' %}" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input name='password1' type="password" placeholder="{% trans 'Password' %}" />
            </div>
            <br>
            <div>
                <label dir="rtl" for=""><input required type="checkbox"> {% trans 'I agree to the terms & conditions' %}</label>
            </div>
            <input type="submit" class="btn" value="{% trans 'Register' %}" />
            <p class="social-text">{% trans 'Register With Social Media' %}</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>{% trans 'New here ?' %}</h3>
            <p dir="rtl">
                با ثبت نام در Playstation.com از خدمات ما بهره ببرید.
            </p>
            <button class="btn transparent" id="sign-up-btn">
              {% trans 'Register' %}
            </button>
          </div>
          <img src="{% static 'accounts_img/register.png' %}" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>{% trans 'One Of Us?' %}</h3>
            <p dir="rtl">
              ورود به حساب کاربری و ثبت سفارش.
            </p>
            <button class="btn transparent" id="sign-in-btn">
              {% trans 'Login' %}
            </button>
          </div>
          <img src="{% static 'accounts_img/log.png' %}" class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="{% static 'js/login_signup.js' %}"></script>
  </body>
</html>
