{% extends '_base.html' %}
{% load static %}
{% load persian_translation_tags %}
{% load jalali_tags %}
{% load humanize %}
{% load i18n %}

{% block title %}Account Management{% endblock title %}

{% block content %}
    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner ptb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="user-dashboard-tab flex-column flex-md-row">
                                <div class="user-dashboard-tab__head nav flex-md-column" role="tablist"
                                     aria-orientation="vertical">
                                    <a class="nav-link active" data-toggle="pill" role="tab" href="#dashboard"
                                       aria-controls="dashboard" aria-selected="true">پیشخوان</a>
                                    <a class="nav-link" data-toggle="pill" role="tab" href="#orders"
                                       aria-controls="orders" aria-selected="true">تاریخچه سفارشات</a>
                                    <a class="nav-link" data-toggle="pill" role="tab" href="#addresses"
                                       aria-controls="addresses" aria-selected="true">علاقه مندی ها</a>
                                    <a class="nav-link" data-toggle="pill" role="tab" href="#accountdetails"
                                       aria-controls="accountdetails" aria-selected="true">جزئیات پروفایل</a>
                                    <a class="nav-link" href="{% url 'account_logout' %}">خروج</a>
                                </div>
                                <div class="user-dashboard-tab__content tab-content p-4">
                                    <div class="tab-pane fade show active" id="dashboard">
                                        <p>سلام <strong>{{ request.user|title }}</strong></p>
                                        <p>از منوی این قسمت میتوانید اطلاعات خودتان را بررسی کنید.</p>
                                    </div>
                                    <div class="tab-pane fade" id="orders">
                                        <div class="table-content table-responsive">
                                            <table class="table text-center">
                                                {% if orders %}
                                                    <thead>
                                                    <tr>
                                                        <th>شماره سفارش</th>
                                                        <th>تاریخ</th>
                                                        <th>وضعیت</th>
                                                        <th>جمع کل</th>
                                                        <th>وضعیت پرداخت</th>
                                                        <th>عملیات</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for order in orders %}
                                                        <tr>
                                                            <td>{{ order.id|translate_number }}</td>
                                                            <td>{{ order.datetime_created|to_jalali:'%Y %B %d'|translate_number }}</td>
                                                            <td>{{ order.order_status }}</td>
                                                            <td>{{ order.price|intcomma:False|translate_number }} {% trans '$' %}</td>
                                                            {% if order.is_paid %}
                                                                <th>
                                                                    <i class="fa fa-check"> {% trans 'Successful Payment' %}</i>
                                                                </th>
                                                            {% else %}
                                                                <th>
                                                                    <i class="fa fa-times"> {% trans 'Payment Failed' %}</i>
                                                                </th>
                                                            {% endif %}
                                                            <td><a href="{% url 'order_detail' order.id %}"
                                                                   class="oval-button">نمایش</a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                {% else %}
                                                    <div class="wide-column">
                                                        <p class="row justify-content-center">{% trans ' Your Order List Is Empty!' %}</p>
                                                        <br>
                                                        <a class="row justify-content-center"
                                                           href="{% url 'products_list' %}">{% trans 'Go To Products List' %}</a>
                                                    </div>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="addresses">
                                        <div class="table-content table-responsive">
                                            <table class="table text-center">
                                                {% if wishlist %}
                                                    <thead>
                                                    <tr>
                                                        <th>شماره</th>
                                                        <th>نام محصول</th>
                                                        <th>تاریخ علاقه مندی</th>
                                                        <th>عملیات</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        {% for item in wishlist %}
                                                            <td>{{ item.product.id|translate_number }}</td>
                                                            <td>{{ item.product.title }}</td>
                                                            <td class="wide-column">{{ item.datetime_created|to_jalali:'%Y %B %d'|translate_number }}</td>
                                                            <td><a href="{% url 'product_detail' item.product.id %}"
                                                                   class="oval-button">نمایش</a>
                                                                <span><a
                                                                        href="{% url 'wishlist_remove' item.product.id %}"
                                                                        class="oval-button">حذف</a></span>
                                                            </td>
                                                            </tr>
                                                        {% endfor %}
                                                {% else %}
                                                    <div class="wide-column">
                                                        <p class="row justify-content-center">{% trans ' Your Wishlist Is Empty!' %}</p>
                                                        <br>
                                                        <a class="row justify-content-center"
                                                           href="{% url 'products_list' %}">{% trans 'Go To Products List' %}</a>
                                                    </div>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="accountdetails">
                                        <form action="{% url 'account_dashboard' %}" method="POST"
                                              class="form form--account">
                                            {% csrf_token %}
                                            <div class="row grid-space-30 mb--20">
                                                <div class="col-md-6 mb-sm--20">
                                                    <div class="form__group">
                                                        <label class="form__label form__label--2" for="f_name">نام <span
                                                                class="required">*</span></label>
                                                        <input value="{{ user.first_name }}" type="text" name="f_name"
                                                               id="f_name"
                                                               class="form__input">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form__group">
                                                        <label class="form__label form__label--2" for="l_name">نام
                                                            خانوادگی <span class="required">*</span></label>
                                                        <input value="{{ user.last_name }}" type="text" name="l_name"
                                                               id="l_name"
                                                               class="form__input">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb--20">
                                                <div class="col-12">
                                                    <div class="form__group">
                                                        <label class="form__label form__label--2" for="email">ایمیل
                                                            <span class="required">*</span></label>
                                                        <input value="{{ user.email }}" type="email" name="email"
                                                               id="email" class="form__input">
                                                    </div>
                                                </div>
                                            </div>
                                            <fieldset class="form__fieldset mb--20">
                                                <legend class="form__legend">تغییر پسورد</legend>
                                                <div class="row mb--20">
                                                    <div class="col-12">
                                                        <div class="form__group">
                                                            <label class="form__label form__label--2" for="cur_pass">پسورد
                                                                فعلی (اگر نمیخواهید پسورد خود را عوض کنید این بخش را
                                                                خالی بگذارید)</label>
                                                            <input type="password" name="old_password" id="cur_pass"
                                                                   class="form__input">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb--20">
                                                    <div class="col-12">
                                                        <div class="form__group">
                                                            <label class="form__label form__label--2" for="new_pass">پسورد
                                                                جدید (اگر نمیخواهید پسورد خود را عوض کنید این بخش را
                                                                خالی بگذارید)</label>
                                                            <input type="password" name="new_password1" id="new_pass"
                                                                   class="form__input">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form__group">
                                                            <label class="form__label form__label--2"
                                                                   for="conf_new_pass">تایید پسورد جدید</label>
                                                            <input type="password" name="new_password2"
                                                                   id="conf_new_pass" class="form__input">
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form__group">
                                                        <input type="submit" value="ذخیره تغییرات"
                                                               class="oval-button">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->
{% endblock content %}