{% extends '_base.html' %}
{% load jalali_tags %}
{% load persian_translation_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Post Detail' %}{% endblock %}
{% block content %}
    <div class="wrapper">

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner ptb--80">
                <div class="container">
    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
            <div class="container">
                <div class="row no-gutters mb--80">
                    <div class="col-12 col-sm-4 product-main-image d-flex align-content-center">
                        {% if post.cover %}
                            <img class="m-auto" style="max-height: 400px;" src="{{ post.cover.url }}" alt="">
                        {% endif %}
                    </div>
                    <div class="col-12 col-sm-8 product-main-details mt-md--50">
                        <div class="product-summary pl-lg--30 pl-md--0 text-right p-4">
                            <h3 class="product-title mb--20">{{ post.title }}</h3>
                            <p class="product-short-description mb--20">{{ post.text|safe }}</p>
                            <div class="product-footer-meta mt-5 pt-5">
                                <p>
                                    <span class="m-0">{% trans 'Author' %}: {{ post.author }}</span><br>
                                    <span class="m-0">{% trans 'Published Date' %}: {{ post.datetime_created|to_jalali:'%Y %B %d'|translate_number }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="product-data-tab tab-style-3">
                                <div class="nav nav-tabs product-data-tab__head" id="product-tab" role="tablist">
                                    <a class="m-0 product-data-tab__link nav-link" id="nav-reviews-tab"
                                       data-toggle="tab" href="#nav-reviews" role="tab" aria-selected="true">
                                        <span>{% trans 'Comments' %} ({{ post.comments.all.count|translate_number }})</span>
                                    </a>
                                </div>
                                <div class="tab-content product-data-tab__content" id="product-tabContent">
                                    <div class="tab-pane fade show active" id="nav-description" role="tabpanel"
                                         aria-labelledby="nav-description-tab">
                                        <div class="product-description text-justify">
                                            <p>{{ product.description|safe|linebreaks }}</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane text-right" id="nav-info" role="tabpanel"
                                         aria-labelledby="nav-info-tab">
                                        <div class="table-content table-responsive">
                                            <table class="table shop_attributes">
                                                <tbody>
                                                <tr>
                                                    <th>وزن</th>
                                                    <td>۴۳۰ گرم</td>
                                                </tr>
                                                <tr>
                                                    <th>سایز</th>
                                                    <td>XL</td>
                                                </tr>
                                                <tr>
                                                    <th>رنگ</th>
                                                    <td>
                                                        <a href="shop-sidebar.html">مشکی</a>,
                                                        <a href="shop-sidebar.html">سبز</a>,
                                                        <a href="shop-sidebar.html">قرمز</a>,
                                                        <a href="shop-sidebar.html">نارنجی</a>,
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-reviews" role="tabpanel"
                                         aria-labelledby="nav-reviews-tab">
                                        <div class="product-reviews">
                                            <h3 class="review__title">{{ post.comments.all.count|translate_number }} {% trans 'Comments For' %} {{ post.title }}</h3>
                                            <ul class="review__list">
                                                {% for comment in post.comments.all %}
                                                    <li class="review__item">
                                                        <div class="review__container">
                                                            <div class="review__text">
                                                                <div class="d-flex flex-sm-row flex-row">
                                                                    <img src="{% static 'img/others/comment-1.jpg' %}"
                                                                         alt="Review Avatar" class="review__avatar p-3">
                                                                    <div>
                                                                        <div class="review__meta" dir="ltr">
                                                                            <span class="review__published-date">{{ comment.datetime_created|to_jalali:'%Y %B %d'|translate_number }}</span>
                                                                            <span class="review__dash">-</span>
                                                                            <strong class="review__author px-4">{{ comment.author.username }}</strong>
                                                                        </div>
                                                                        <div class="product-rating">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p class="review__description text-right px-4 pr-5 mr-5">
                                                                    {{ comment.body }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="review-form-wrapper">
                                                <div class="row">
                                                    <div class="border-top py-5 w-100"></div>
                                                    <div class="col-lg-8 m-auto">
                                                        {% if user.is_authenticated %}
                                                            <span class="reply-title pull-right">{% trans 'Write Your Comment' %}</span>
                                                            <br>
                                                        <form action="#" class="form text-right">
                                                            <div class="form-notes mb--20">
                                                                <p class="my-3"><span class="required">*</span>{% trans 'Your Email Does Not Show For Others' %}</p>
                                                            </div>
                                                            <div class="form__group mb--10">
                                                                <label class="form__label d-block" for="email">{% trans 'Your Comment Text' %}<span class="required">*</span></label>
                                                                <textarea name="review" id="review" class="form__input form__input--textarea"></textarea>
                                                            </div>
                                                            <div class="form__group mb--20">
                                                                <label class="form__label d-block" for="name">{% trans 'Your Name' %}<span class="required">*</span></label>
                                                                <input type="text" name="name" id="name" class="form__input">
                                                            </div>
                                                            <div class="form__group mb--20">
                                                                <label class="form__label d-block" for="email">{% trans 'Your Email' %}<span class="required">*</span></label>
                                                                <input type="email" name="email" id="email" class="form__input">
                                                            </div>
                                                            <div class="form__group">
                                                                <div class="form-row">
                                                                    <div class="col-12">
                                                                        <input type="submit" value="{% trans 'Send' %}" class="btn btn-small btn-bg-sand btn-color-dark px-3">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        {% else %}
                                                            <div class="row justify-content-center">
                                                                <p>{% trans 'You Must Be Logged In To Post A Comment' %}</p>
                                                                <br>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <a href="{% url 'account_login' %}">{% trans 'Login' %}</a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper End -->


        <!-- Search form Popup Start -->
        <div class="searchform__popup" id="searchForm">
            <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
            <div class="searchform__body">
                <p>{% trans 'Enter Your Key Words In Box Below' %}</p>
                <form class="searchform">
                    <input type="text" name="popup-search" id="popup-search" class="searchform__input"
                           placeholder="{% trans 'Search in Products' %}">
                    <button type="submit" class="searchform__submit"><i
                            class="flaticon flaticon-magnifying-glass-icon"></i></button>
                </form>
            </div>
        </div>
        <!-- Search form Popup End -->

        {% include 'cart/sidebar_cart.html' %}

        <!-- Global Overlay Start -->
        <div class="ShoppingYar-global-overlay"></div>
        <!-- Global Overlay End -->
    <!-- Main Wrapper End -->



{% endblock %}