{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load jalali_tags %}
{% block title %}{{ product.title }} Description{% endblock %}


{% block content %}
    {% if product.cover %}
    <img src="{{ product.cover.url }}">
    {% endif %}
    <h2>{{ product.title }}</h2>
    <p>{{ product.description|safe }}</p>
    <p>{{ product.price }}</p>
    <br>
    <div>
        <form action="{% url 'cart:cart_add' product.id %}" method="POST">
            {% csrf_token %}
            <input type="number" name="quantity">
            <input type="submit" value="Add to Cart">
        </form>
    </div>
    {% for comment in product.comments.all %}
        <p>{{ comment.author }} | {{ comment.datetime_created|to_jalali:'%Y %B %d' }}</p>
        <p>{{ comment.body }}</p>
    {% endfor %}
    <br>
    <form method="POST" action="{% url 'comment_create' product.id %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="Send Comment">
    </form>
    <a href="{% url 'products_list' %}">{% trans 'Back To Products' %}</a>
{% endblock content %}
